<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Registro de Productos</title>

</head>

<body>

    <h1>Registro de Productos</h1>

    <p>
        Completa el formulario para registrar un producto.
    </p>

    <hr>

    <!-- Navegación -->

    <nav>

        <a href="{{ url_for('index') }}">
            Inicio
        </a>

        |

        <a href="{{ url_for('ayuda') }}">
            Ayuda
        </a>

    </nav>

    <hr>


    <!-- FORMULARIO -->

    <form
        action="{{ url_for('registrar') }}"
        method="POST">


        <!-- NOMBRE -->

        <label for="nombre">

            Nombre del producto:

        </label>

        <br>

        <input
            type="text"
            id="nombre"
            name="nombre"
            placeholder="Ej: Teclado Gamer"
            required>


        <br>
        <br>


        <!-- PRECIO -->

        <label for="precio">

            Precio:

        </label>

        <br>

        <input
            type="number"
            id="precio"
            name="precio"
            placeholder="Ej: 35000"
            required>


        <br>
        <br>


        <!-- CATEGORÍA -->

        <label for="categoria">

            Categoría:

        </label>

        <br>

        <input
            type="text"
            id="categoria"
            name="categoria"
            placeholder="Ej: Periféricos"
            required>


        <br>
        <br>


        <!-- BOTÓN -->

        <button type="submit">

            Registrar Producto

        </button>

    </form>

</body>

</html>