<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Producto Registrado</title>

</head>

<body>

    <h1>Producto registrado correctamente</h1>

    <p>
        La información fue recibida y procesada
        correctamente por el servidor.
    </p>

    <hr>

    <p>
        El formulario fue enviado mediante POST.
    </p>

    <p>
        Después del procesamiento, Flask realizó
        una redirección hacia esta página mediante GET.
    </p>

    <hr>

    <nav>

        <a href="{{ url_for('index') }}">

            Volver al formulario

        </a>

        |

        <a href="{{ url_for('ayuda') }}">

            Ver ayuda

        </a>

    </nav>

</body>

</html>